*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

p{
    margin: 12px;
}


header{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    background-color: green;
}
 img#a{
    width:200px;
    border-radius: 100%;
    
 }

img#hero{
    width: 40%;
    border-radius: 50%;

}
h1#hero{
    color: blue;
    font-size: 40px;
    font-family: 'Aboreto', cursive;

}

nav{

    background-color: aliceblue;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

li{
    font-size: 30px;
    text-decoration: none;
    color: blue;
    width: 100%;
    background-color: yellow;

}
li a:hover{
    color: rgb(8, 2, 95);
}
h4{
    font-family: 'Source Serif Pro', serif;
}